@font-face {
  font-family: SFUFuturaBold;
  font-weight: normal;
  src: url("../font/SFUFuturaBold.TTF");
}

@font-face {
  font-family: SFUFuturaLight;
  font-weight: normal;
  src: url("../font/SFUFuturaLight.TTF");
}

@font-face {
  font-family: SFUFuturaRegular;
  font-weight: normal;
  src: url("../font/SFUFuturaRegular.TTF");
}

@font-face {
  font-family: SFUFuturaBook;
  font-weight: normal;
  src: url("../font/SFUFuturaBook.TTF");
}
@font-face {
  font-family: SFUFuturaHeavy;
  font-weight: normal;
  src: url("../font/SFUFuturaHeavy.TTF");
}
@font-face {
  font-family: SFUFuturaExtraBold;
  font-weight: normal;
  src: url("../font/SFUFuturaExtraBold.TTF");
}

body {
  $mau: #636767;
  .container {
    width: 1170px;
    padding: 15px 0 0 0 !important;
  }
  #header {
    .top {
      background: url("../images/img_header/images/home_chuan_03.jpg") repeat center;
      .menu {
        position: relative;
        padding-bottom: 55px;
        ul {
          display: none;
        }
        &:hover {
          ul {
            width: 1170px;
            padding: 0;
            position: absolute;
            top: 82px;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 10px rgba(0, 0, 0, 0.5);
            display: block;
            background: #ffffff;
            z-index: 1;
            li {
              list-style: none;
              border-bottom: 1px solid #d5d8e9;

              a {
                color: #6d6e70;
                font-size: 20px;
                display: block;
                padding: 15px;
                text-decoration: none;
                font-family: SFUFuturaBold;

                i {
                  float: right;
                }
              }
              .collapsed{
                .fa-caret-down{
                  display: block!important;
                }
                .fa-caret-up{
                  display: none!important;
                }
              }
              .defauld{
                .fa-caret-down{
                  display: none;
                }
                .fa-caret-up{
                  display: block;
                }
              }
            }
            .collapse {
              background: #b6b7b8;
              border-bottom: 1px solid #d5d8e9;
              padding-left: 40px;
              a {
                text-transform: uppercase;
                color: #ffffff;
              }
            }
          }
        }
      }
      .center {
        margin-left: 350px;

      }
      .contact {
        float: right;
        border-bottom: 1px solid #d1d3d4;
        margin-top: 40px;

        a {
          font-family: SFUFuturaLight;
          color: #d1d3d4;
          font-size: 18px;
          padding: 15px 35px 15px 0;
          display: block;
          text-decoration: none;
        }

      }
      .display {
        display: inline-block;
      }
    }
    .bot {
      .container {
        padding: 0 !important;
      }
      #cssmenu > ul > li {
        display: inline-block;
        list-style: none;
        position: relative;
        padding-right: 16px;
      }
      #cssmenu > ul {
        padding: 0;
      }
      #cssmenu > ul > li > a {
        font-family: SFUFuturaBold;
        color: #414042;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 5px;
        display: block;
      }
      #cssmenu > ul > li > .ulc2 {
        display: none;
      }
      #cssmenu > ul > li:hover {
        a {
          color: #a7a9ac;
        }
        .ulc2 {
          padding: 0;
          position: absolute;
          top: 45px;
          width: 179px;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 10px rgba(0, 0, 0, 0.5);
          display: block;
          .lic2 {
            list-style: none;
            border-bottom: 1px solid #d8d9db;
            position: relative;
            a {
              color: #535254;
              font-size: 18px;
              text-decoration: none;
              padding: 10px 15px;
              display: block;
              font-family: SFUFuturaLight;

              i {
                margin-left: 5px;
              }
            }
            .ulc3 {
              display: none;
            }
            &:hover {
              background: #636767;
              a {
                color: #ffffff;
              }
              .ulc3 {
                display: block;
                padding: 0 !important;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 10px rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                right: -69%;

                .lic3 {
                  background: #ffffff;
                  list-style: none;
                  border-bottom: 1px solid #d8d9db;
                  a {
                    color: #535254;
                    font-size: 18px;
                    text-decoration: none;
                    padding: 10px 15px;
                    display: block;
                    font-family: SFUFuturaLight;
                  }
                  &:hover {
                    background: #636767;
                    a {
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    //modal
    #exampleModalLong {
      .size {
        margin-top: 17%;
        width: 750px;
        height: 450px;
        .modal-content {
          background: #ffffff url("../images/img_header/popup.png") no-repeat center;
          text-align: center;

          .note {
            color: #393738;
            font-size: 24px;
            font-family: SFUFuturaBold;
            width: 530px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 100px;
          }
          .form-inline {
            position: relative;
            padding: 20px 0;
            //border: 1px solid #6d6e70;
            width: 90%;
            margin: 10px auto;
            .form-control {
              width: 61%;
              //position: absolute;
              left: 0;
              height: 60px;
              border-radius: unset;
              color: #bbbdc0;
              font-size: 24px;
              font-family: SFUFuturaBook;
            }
            .btn {
              height: 60px;
              border-radius: unset;
              color: #ffffff;
              font-size: 24px;
              background: #6d6e70;
              padding: 6px 25px;
              //position: absolute;
              right: 0;
              font-family: SFUFuturaBold;

            }
          }
          .login-order{
            margin-bottom: 30px;
            span{
              font-size: 24px;
              color: #97999b;
              font-family: SFUFuturaHeavy;

              &:before{
                content: '';
                width: 289px;
                border: 1px solid #dddddd;
                display: inline-block;
                vertical-align: 3px;
              }
              &:after{
                content: '';
                width: 289px;
                border: 1px solid #dddddd;
                display: inline-block;
                vertical-align: 3px;
              }
            }
          }
          .contact1{
            .boss{
              font-size: 24px;
              color: #393738;
              font-family: SFUFuturaBold;
            }
            .phone{
              font-size: 36px;
              color: #393738;
              font-family: SFUFuturaBold;
            }
          }
        }
      }
    }
    //end modal
  }
  .option {
    width: 10%;
    position: fixed;
    right: 5px;
    bottom: 25px;
  }
  #footer {
    .container {
      padding: 15px 0 !important;
    }
    background: $mau;
    font-family: SFUFuturaBold;
    h3 {
      color: #bcbec0;
      font-size: 18px;
      text-transform: uppercase;
    }
    p {
      color: #ffffff;
      padding: 5px 0 5px 35px;
      font-size: 16px;
      font-family: SFUFuturaBook;
      span {
        font-family: SFUFuturaBold;

      }

    }
    .add {
      background: url("../images/img_header/add.png") no-repeat top 0px left 0;
      font-family: SFUFuturaBold;

    }
    .time {
      background: url("../images/img_header/lock.png") no-repeat top 0px left 0;
    }
    .hotline {
      .store {
        background: url("../images/img_header/phone.png") no-repeat top 0px left 0;

      }
      .nv {
        padding: 0 0 0 35px !important;
      }
    }
    .right_ft {
      .form-inline {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #ffffff;
        width: 400px;
        .form-control {
          width: 280px;
          height: 40px;
          border-radius: unset;
          color: #a7a9ac;
          font-size: 16px;
          font-family: SFUFuturaBook;
        }
        .btn {
          height: 40px;
          border-radius: unset;
          color: #ffffff;
          font-size: 16px;
          background: #a7a9ac;
          padding: 6px 29px;
          position: absolute;
          right: 0;
        }
      }
      .connect {
        padding: 20px 0;
        p {
          display: inline-block;
          color: #bcbec0;
          font-size: 18px;
          font-family: SFUFuturaBold;
          text-transform: uppercase;
          padding-left: 0 !important;
          margin-right: 5px;
        }
        a {
          display: inline-block;
          margin: 0 7px;
        }
      }
    }
  }
}